
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "karla", sans-serif;
}
body{
    background-color: #edefee;
}
.header{
    padding: 1rem;
    display: flex;
    align-items:center;
    justify-content: space-around;

}
.header_img{
    width: 150px;
    height: 50px;
}

.header_nav .header_ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.header_ul li{
    position: relative;
}
.header_ul li::before{
    content: " ";
    position: absolute;
    bottom: -2px;
    left: 50%;
    background-color: #ee9972;
    transform: translateX(-50%);
    width:0px;
    height: 2px;
    transition: all 0.5s ease-out;
}
.header_ul li:hover::before  {
    width: 100%;
}
.anc{
    text-decoration: none;
    color:#495e57;
    transition: color 0.5s ease-out;
}
.anc:hover{
    color: #ee9972;
}
.active-link{
    color: #ee9972;
    text-decoration: none;
}
.resp_menu{
    width:25px;
    display: none;
}
.footer{
    background-color: #ee9972;
    max-height: 700px;
    margin-top: 8rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.foot_img{
    width: 250px;
    height: 50px;
}
.footer_nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.foot_list .foot_anc{
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-out;
}
.foot_list .foot_anc:hover{
    color:#495e57
}
.Contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.foot_nav a{
    color: #495e57;
    transition: all 0.5s ease-out;
}
.foot_nav a:hover{
    color: #edefee;
}
 .icons{
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
.hero{
    background-color: #495e57;
    padding: 2rem 11rem;
    margin-top: 30px ;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 230px;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about h2{
    font-size: 2rem;
    color: #f4ce14;
}
.about h3{
    color: #fff;
}
.about p{
    width: 50%;
    margin-top:5px;
    font-weight: bold;
    color: #fff;
}
.hero_link .hero_btn{
    background-color: #f4ce14;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s ease-out;
}
.hero_btn:hover{
    color: #495e57
}
.about_img {
    cursor: pointer;
}
.about_img img{
    margin-top: 70px;
    width: 230px;
    height: 250px;
    border-radius:5%;
    transition: all 0.5s ease-out;
}
.about_img img:hover{
    transform: scale(1.1);
}
.highlights{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    min-height: fit-content;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 55%;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-to-menu .menu-btn{
    background-color: #f4ce14;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s ease-out;
}
.menu-btn:hover{
    color: #495e57
}
.specials{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 20px;
}
.special{
    background-color: #fbdabb;
    display: flex;
    flex-direction: column;
    width: 29%;
    height: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.special img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.5s ease-out;
}
.special:hover  img{
    transform: scale(1.1);
}
.dish_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}
.dish_name{
    display: flex;
    justify-content: space-between;
}
.dish_name p{
    color: orange;
}
.about_dish{
    color: #495e57;
    font-size: 0.7rem;
    line-height: 1rem;
}
.cta{
    display: flex;
    margin-top: 1.5rem;
}
.order{
    font-weight: bold;
}
.order_icon{
    margin-left: 5px;
    margin-top: 5px;
}
.testimonials{
    background-color: #495e57;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.testimonials h1{
    color: #edefee;
}
.Cards{
    display: flex;
    align-items: center;
    width:60%;
    gap: 10px;
}
.testimonial{
    background-color: #edefee;
    border-radius: 20px;
    width:25% ;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /**justify-content: space-between; **/
    box-shadow:3px 3px 10px #000;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.testimonial:hover{
    transform:scale(1.1);
}
.user{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user_name{
    font-weight: bold;
}
.messaging{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review{
    font-weight: bold;
}
.message{
    font-size: 0.9rem;
    line-height:1.2rem;
}
.rating{
    display: flex;
    justify-content: space-between;
}
.rating p{
    font-size: small;
}
.rating small .star{
    margin-right: 1px;
}
.banner{
    background-image: url(./space.jpg);
    height: 350px;
    padding: 4rem;
    margin-bottom: 4rem;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-around;
}
.banner::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.invite, .invite_info{
    position:relative ;
    z-index:2 ;
    width: 50%;
}
.invite h1{
    font-size: 3.7rem;
    line-height: 5.4rem;
    color: #f4ce14;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.invite_info p{
    color: #edefee;
    font-size: 2.1rem;
    font-weight: lighter;
    line-height: 2.7rem;
}
.bookings{
    background-color: #495e57;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin: 4rem auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.bookings h1{
    font-size: 2.5rem;
    color: #f4ce14;
    text-align: center;
}
.bookings form{
    display: grid;
    gap: 2.8rem;
    width: 65%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto, 1fr, 1fr;
}
.radio-input-container{
    display: inline;
    margin-left: 10px;
}
.radio_container label{
    color: #fff;
    font-size: 1.5rem;
}
.field_container label{
    color: #fff;
    font-size: 1.3rem;
}
.input_container{
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}
.shadow{
    position: relative;
    opacity: 0.8;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #000;
}
.date_input, .diners_input, .occasion_input, .time_input{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 8px #000;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    box-shadow: 8px 8px 10px #000;
}
.date_class input[type="date"]::-webkit-calendar-picker-indicator {
    width: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.chosen{
    background-color: #495e57;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
    opacity: 1;
}
.chosen span{
    font-size: 1.2rem;
    opacity: 1;
    color: #fff;
}
.placeholder{
    background-color:#edefee;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
    opacity: 1;
}
.placeholder span{
    font-size: 1.2rem;
    opacity: 0.6;
}
.form2{
    position: relative;
    background-color: #495e57;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
   /* transition: filter 0.3s ease; */
}
.blurred{
    filter: blur(5px);
}
.form2 form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 1fr, 2fr;
    gap: 3rem 5rem;
    z-index: auto;
}
.contact label{
    display: block;
    color: #edefee;
    font-size: 1rem;
    margin-bottom: 0.7rem;
}
.contact input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    box-shadow:0px 0px 8px #000;
    z-index: auto;
}
#request{
    border: none;
    outline: none;
    width: 100%;
}
.errors_class{
    color: #ee9972;
    margin-top: 1rem;
}
.form_1_states{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form_1_state_details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem 5rem;
    width: 100%;
}

.res_states .stored_state, .res_states .empty_state{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.stored_state{
    color: #edefee;
    font-size: 1.5rem;
}
.stored_state span{
    margin-left: 1rem;
}
.empty_state{
    color: #ee9972;
    font-size: 1.5rem;
}
.sitting_space{
    align-self: center;
}
.sitting_space label{
    color: #edefee;
    font-weight: bold;
    font-size: 1.2rem;
}
.submit_btn{
    position: absolute;
    left: 45%;
}
.submit_btn button{
    background-color: #f4ce14;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    z-index: auto;
    transition: color 0.5s ease-out;
}
.submit_btn button:hover{
    color: #495e57
}
.user-details-container{
    background-color: #edefee;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    align-items: center ;
    padding: 2.5rem;
}
.user-details-container h2{
    color: #495e57;
}
.user_details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 30px);
    gap: 0.5rem 0rem;
}
.user_details p{
    color: #495e57;
}
.make_changes{
    color: #ee9972;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.make_changes:hover{
    color: #495e57;
}
.complete_process{
    background-color: #495e57;
    color: #edefee;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
}
.success_message{
    background-color: #edefee;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.success_message h2{
    color: #495e57;
    font-size: 2.2rem;
    text-align: center;
}
.success_message p{
    color: #495e57;
    font-size:1.5rem;
    text-align: center;
}
.home-link .back_btn{
    color: #ee9972;
    border: none;
    outline: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.3rem;
}
.user-details-container, .success_message{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    border: 1px solid #495e57;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.body_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}















































































@media (max-width:1090px) {
    .user-details-container{
        width: 70%;
    }
}


@media (max-width:1025px) {
    .container{
        width:75%;
    }
    .Cards{
        width: 85%;
    }
    .testimonial{
        width:23% ;
        cursor: auto;
    }
    .testimonial:hover{
        transform: none;
    }
    .invite h1{
        font-size:4rem;
        line-height:4.6rem ;
    }
    .invite_info p{
        font-size:1.8rem ;
        line-height: 2.3rem;
    }
    .make_changes{
        margin-top: 2.5rem;
    }
}

@media (max-width:950px) {
    .footer_nav ul {
        align-items: center;
    }
    .foot_img{
        width: 200px;
    }
    .Contact h3{
        text-align: center;
    }
    .Contact p{
        font-size: medium;
        text-align: center;
    }
    .foot_nav a .icons{
        margin-right: 15px;
        width: 30px;
        height: 30px;
    }
    .hero{
        padding: 2rem 7rem;
    }
    .container{
        width: 90%;
    }
    .dish_info{
        margin-bottom: 1rem;
    }
    .message{
        font-size: 0.7rem;
        width:100%;
    }
    .banner{
        padding: 2.3rem;
    }
    .invite h1{
        font-size: 4rem;
        line-height: 5.3rem;
    }
    .invite_info p{
        font-size: 1.6rem;
        line-height:2.7rem ;
    }
    .form2{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .form_1_state_details{
        gap: 2rem 2.5rem;
    }
    .success_message{
        padding: 2rem 1rem;
        width: 70%;
    }
    .success_message h2{
       font-size: 2.2rem;
    }
    .success_message p{
        font-size: 1.3rem;
    }
    .home-link .back_btn{
        font-size: 1.2rem;
    }
    .user-details-container{
        padding: 1.5rem;
        width: 80%;
    }
    .make_changes{
        margin-top: 1.5rem;
    }
}

@media (max-width:850px) {
    .header_nav{
        display: none;
    }
    .resp_menu{
        display: block;
    }
    .footer{
       flex-wrap: wrap;
       justify-content: start;
       gap: 2rem;
    }
    .about{
        font-size:small;
    }
    .banner{
        padding:2rem;
        gap: 0rem;
    }
    .invite h1{
        font-size: 3.6rem;
        line-height: 4.9rem;
    }
    .invite_info p{
        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    .form2{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .form2 form{
        gap: 3rem 3.5rem;
    }
    .form_1_state_details{
        gap: 1rem 1.5rem;
    }
    .res_states .stored_state{
        margin-left: 0rem;
    }
    .res_states .stored_state, .res_states .empty_state{
        font-size: 1.1rem;
    }
    .success_message{
        padding: 3rem 1rem;
        width: 75%;
    }
    .success_message h2{
       font-size: 2rem;
       text-align: center;
    }
    .success_message p{
        font-size: 1.3rem;
        text-align: center;
    }
    .home-link .back_btn{
        font-size: 1.5rem;
    }
}

@media (max-width:730px) {
    .hero{
        flex-direction: column-reverse;
        gap: 10px;
        margin-bottom: 2rem;
        height: fit-content;
        padding: 1.5rem;
    }
    .about{
        align-items:center ;
        font-size: 1.1rem;
        text-align: center;
        width: 100%;
    }
    .about p{
        width:  80%;
    }
    .about_img{
        cursor: auto;
    }
    .about_img img{
        margin-top: 0px;
        width:300px ;
        height:300px;
    }
    .about_img img:hover {
        transform:none ;
    }
    .container{
        width: 80%;
    }
    .intro h1{
        font-size: 1.5rem;
    }
    .link-to-menu .menu-btn{
        font-size: 0.7rem;
        padding: 8px;
        border-radius: 10px;
    }
    .specials{
        flex-wrap: wrap;
    }
    .special{
        width: 100%;
    }
    .special img{
        height:250px ;
    }
    .dish_name h4{
        font-size: larger;
    }
    .about_dish{
        width: 100%;
        font-size: medium;
        line-height: 1.5rem;
    }
    .order_icon{
        margin-left: 1rem;
    }
    .testimonials{
        gap: 1rem;
        padding:  3rem;
    }
    .Cards{
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .testimonial{
        width: 100%;
        padding: 2rem;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .messaging{
        justify-content: center;
        width: 60%;
    }
    .review{
        font-size: 2rem;
    }
    .message{
        font-size: 1.2rem;
        font-weight: lighter;
        line-height: 1.3rem;
    }
    .rating{
        margin-top:0.5rem;
    }
    .rating p{
        font-size: 0.8rem;
    }
    .invite h1{
        font-size: 2.9rem;
        line-height:4.1rem ;
    }
    .invite_info p{
        font-size: 1.1rem;
        line-height:2.4rem ;
    }
    .radio_container label{
        font-size: 1.3rem;
    }
    .bookings form{
        gap:2rem;
        width: 80%;
    }
    .form2{
        padding: 2.5rem 4rem;
    }
    .form2 form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form_1_state_details{
        gap: 2rem 4rem;
    }
    .res_states .stored_state, .res_states .empty_state{
        font-size: 2rem;
    }
    .submit_btn{
        left:35% ;
    }
    .user-details-container{
        width: 90%;
    }
    .user_details{
        font-size: 0.95rem;
    }
}


@media (max-width:615px) {
    .form_1_state_details{
        gap: 2rem 4rem;
    }
    .res_states .stored_state, .res_states .empty_state{
        font-size: 1.5rem;
    }
    .submit_btn{
        left:30% ;
    }
    .success_message{
        padding: 2rem 1rem;
        width: 85%;
    }
    .success_message h2{
       font-size: 1.9rem;
    }
    .success_message p{
        font-size: 1.2rem;
    }
    .home-link .back_btn{
        font-size: 1.2rem;
    }
    .user_details{
        font-size: 0.8rem;
    }
}


@media (max-width:520px) {
    .header_nav{
        display: none;
    }
    .resp_menu{
        display: block;
    }
    .footer{
        flex-direction: column;
        gap: 30px;
    }
    .foot_nav a .icons{
        width: 50px;
        height: 50px;
    }
    .container{
        width: 90%;
    }
    .intro h1{
        font-size: 1.3rem;
    }
    .user img{
        width: 70px;
        height: 70px;
    }
    .user_name{
        text-align: center;
    }
    .testimonials{
        padding: 1.5rem;
    }
    .testimonial{
        padding: 1rem;

    }
    .messaging{
        justify-content: center;
        width: 60%;
    }
    .review{
        font-size: 1.5rem;
    }
    .message{
        font-size: 1rem;
        font-weight: lighter;
        line-height: 1.3rem;
    }
    .rating{
        margin-top:0.5rem;
    }
    .rating p{
        font-size: 0.8rem;
    }
    .banner{
        flex-direction: column;
        gap: 2rem;
        height: fit-content;
    }
    .invite, .invite_info{
        width: 100%;
        text-align: center;
    }
    .bookings{
        padding: 2rem;
    }
    .bookings h1{
        text-align: center;
        font-size: 2.2rem;
    }
    .bookings form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .radio_container label{
        font-size: 1.1rem;
    }
    .field_container label{
        font-size: 1rem;
    }
    .form2{
        padding: 2.5rem 2rem;
    }
    .form_1_state_details{
        gap: 2rem 4rem;
    }
    .res_states .stored_state, .res_states .empty_state{
        font-size: 1.2rem;
    }
    .submit_btn{
        left:25% ;
    }
    .success_message{
        padding: 2rem 1rem;
        width: 75%;
    }
    .success_message h2{
       font-size: 1.5rem;
    }
    .success_message p{
        font-size: 1rem;
    }
    .user-details-container{
        gap: 1rem;
    }
    .user-details-container h2{
        text-align: center;
    }
    .user_details{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        font-size:1.1rem;
    }
    .make_changes{
        margin-top: 0rem;
    }
}


@media (max-width:400px) {
    .form_1_state_details{
        gap: 2rem 2rem;
    }
    .res_states .stored_state, .res_states .empty_state{
        font-size: 0.9rem;
    }
    .submit_btn{
        left:20% ;
    }
    .errors_class{
        font-size: 0.82rem;
    }
    .success_message{
        width: 95%;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
     .success_message p{
        font-size:0.9rem ;
     }
     .user-details-container h2{
        font-size: 1.3rem;
     }
     .user_details{
        font-size: 0.8rem;
     }
     .complete_process{
        padding: 0.8rem;

     }
}
